@import "tailwindcss";

@theme {
  --color-primary: #ebebeb;
  --color-secondary: #31929a;
  --color-tertiary: #27272a;
  --color-background: #111111;

  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2.25rem;
  --text-4xl: 3rem;
  --text-5xl: 3.75rem;
  --text-6xl: 4.5rem;
  --text-7xl: 6rem;
  --text-8xl: 8rem;
  --text-9xl: 9rem;
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}
