.aside {
  height: 100vh;

  .top {
    background-color: $surface0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      gap: 1rem;

      img {
        width: 3.5rem;
        height: 3.5rem;
      }

      h2 {
        font-weight: 600;
        font-size: 2.5rem;
      }
    }

    &__close-btn {
      display: none;
    }
  }

  .admin-sidebar {
    display: flex;
    flex-direction: column;
    height: 76vh;
    position: relative;
    top: 4rem;

    svg {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
    }

    h3 {
      font-weight: 500;
    }

    &__link {
      display: flex;
      margin-left: 1.7rem;
      gap: 1rem;
      align-items: center;
      position: relative;
      height: 4rem;
      transition: all 0.3s ease;

      &:last-child {
        position: absolute;
        bottom: 2rem;
        width: 100%;
      }

      &.active {
        background-color: $surface0;
        margin-left: 0;

        &:before {
          content: "";
          width: 0.6rem;
          height: 100%;
          background-color: $lavender;
        }

        &:hover {
          margin-left: 0;
        }
      }

      &:hover {
        margin-left: 3rem;
      }

      .message-count {
        background-color: $error;
        color: #fff;
        padding: 0.2rem 1rem;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 0.5rem;
      }
    }
  }
}
